/* Variables */

:root {
    --spacer: 0.875rem;

    --clr-accent: #FF6B6B;

    --clr-white: 255, 255, 255;
    --clr-black: 0, 0, 0;

    --shadow: 20px 20px 60px 0px rgb(190, 190, 190, 0.25), -20px -20px 60px 0px rgba(255, 255, 255, .25);

    --border-radius: 30px;
}

/* Global */

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

/* Text */

h1 {
    font-weight: 700;
    font-size: clamp(2rem, 6vw, 4.5rem);
    line-height: 1.5em;
    text-transform: uppercase;
}

h2, .h2 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.8em;
    text-transform: uppercase;
}

h3 {
   font-weight: 700;
   font-size: 1.75rem; 
}

h4, .h4 {
    font-weight: 700;
    font-size: 1.5rem;
}

.subtitle1 {
    font-weight: 300;
    font-size: 2.25rem; 
}

.subtitle2 {
    font-weight: 300;
    font-size: 1.5rem;
}

.body1 {
    font-weight: 700;
    font-size: 1.125rem;
}

.text--accent {
    color: var(--clr-accent)
}

/* Utility Classes */

.container {
    width: var(--width, 80%);
    max-width: var(--mw, 1200px);
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flow-content > * + * {
    margin-top: var(--spacer);
}

.flow-content--negative {
    --spacer: -1rem;
}

.underline {
    position: relative;
}

.underline::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1rem;
    left: 0;
    bottom: 0;
    background: var(--clr-accent);
    transform: rotate(-4deg);
    z-index: -1;
}

@media (min-width: 769px) {
    .flex {
        flex-direction: row;
        
    }
    
}

/* Buttons */

.btn {
    display: inline-block;
    margin: 0;
    padding: 0.35em 1.2em;
    font-weight: 700;
    font-size: 2.25rem;
    text-transform: uppercase;
    background: rgb(var(--clr-white));
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 4px 0 rgba(190, 190, 190, .50);
}

/* Pills */

.pill {
    width: 22.5rem;
    padding: 0.5rem .5rem 0.5rem 2.5rem;
    text-align: left;
    background: rgba(var(--clr-white), 0.7);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
}

.pill > p {
    max-width: 75%;
}

/* Hero Section */

.hero {
    position: relative;
    padding-top: 3rem;
    background: var(--clr-accent);
    z-index: -1;
}

.hero-header {
    text-align: center;
    color: rgb(var(--clr-white))
}

.hero-card-wrapper {
    transform: translateY(50px);
}

.hero-card {
    position: relative;
    width: 30rem;
    margin: 0 auto;
    padding: 3.625rem;
    background: rgba(var(--clr-white), 0.9);
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.hero-card .h2 {
    font-weight: 700;
    color: rgba(var(--clr-black), 0.75);
    line-height: 1;
}

.hero-card .price {
    font-weight: 700;
    font-size: 6.25rem;
    color: rgb(var(--clr-black))
}

.hero-card::before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 140%;
    padding-bottom: 140%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: radial-gradient(circle,#FF8787 0%,#FF8787 40%,#ffa8a8 40%,#ffa8a8 60%,#ffc9c9 60%,#ffc9c9 80%,#ffe3e3 80%,#ffe3e3 100%);
}

/* Main Section */

.main {
    margin: 0 auto;
    padding-top: 17em;
    text-align: center;
}

.benefits {
    flex-wrap: wrap;
    align-items: center;   
}

.benefit {
    max-width: 270px;
}

.benefit + .benefit{
    margin-top: 3rem;
}

@media (min-width: 769px) {
    .benefits {
        align-items: baseline;
        justify-content: space-around;
    }
}

.separator.underline {
    width: 480px;
    height: 20px;
    margin: 6rem auto;
}

.features {
    --mw: 900px;

    position: relative;
    margin: 0 auto;
}

.features-pills {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    top: 4rem;
    left: 0;
    display: flex;
    flex-direction: column;
}

.features-pills > .pill:nth-of-type(odd) {
    align-self: flex-end;
}

.features-pills > .pill + .pill {
    margin-top: 5rem;
}

.features-pills > .pill > p {
    margin-top: .5rem;
}

/* Teachers Section */

.teachers {
    position: relative;
    padding: 10rem 0;
}

.teachers::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url(../img/teachers-bg.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 150%;
    z-index: -1;
}

/* .teachers h2 {
    position: absolute;
} */

.teachers img {
    border: 1px solid rgb(var(--clr-black));
    border-radius: var(--border-radius);
}

.main-teachers {
    --mw: 1600px;

    flex-wrap: wrap;
    justify-content: space-around;
}

.main-teacher:nth-of-type(odd) {
    align-self: flex-end;
}

.main-teacher:nth-of-type(1) > .pill{
    transform: translate(-1rem, -1rem);
}

.secondary-teachers {
    --mw: 1250px;
}

.secondary-teacher + .secondary-teacher {
    margin-left: 5.375rem;
}

.secondary-teacher > .pill {
    width: 185px;
    border: 1px solid rgb(var(--clr-black));
    text-align: center;
    transform: translate(-1rem, -2rem);
}
