/* Variables */

:root {
    --spacer: 0.875rem;

    --clr-accent: #FF6B6B;

    --clr-white: 255, 255, 255;
    --clr-black: 0, 0, 0;

    --shadow: 20px 20px 60px 0px rgb(190, 190, 190, 0.25), -20px -20px 60px 0px rgba(255, 255, 255, .25);

    --border-radius: 30px;
}

/* Reset and Global */
/* #region */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}
/* #endregion */

/* Text */
/* #region */
h1 {
    font-weight: 700;
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    line-height: 1.2em;
    text-transform: uppercase;
}

h2, .h2 {
    font-weight: 400;
    font-size: clamp(1.8rem, 10vw, 3rem);
    line-height: 1.8em;
    text-transform: uppercase;
}

h3 {
   font-weight: 700;
   font-size: 1.75rem; 
}

h4, .h4 {
    font-weight: 700;
    font-size: clamp(1rem, 5vw, 1.5rem);
}

.subtitle1 {
    font-weight: 300;
    font-size: clamp(1.5rem, 6vw, 2.25rem); 
}

.subtitle2 {
    font-weight: 300;
    font-size: clamp(1rem, 5vw, 1.5rem);
}

.body1 {
    font-weight: 700;
    font-size: 1.125rem;
}

.body2 {
    font-weight: 400;
    font-size: clamp(1rem, 5vw, 1.125rem);
}

.text--accent {
    color: var(--clr-accent)
}
/* #endregion */

/* Utility Classes */
/* #region */
.container {
    width: var(--width, 80%);
    max-width: var(--maxw, 1200px);
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flow-content > * + * {
    margin-top: var(--spacer);
}

.flow-content--negative {
    --spacer: -1rem;
}

.underline {
    position: relative;
}

.underline::before {
    position: absolute;
    content: "";
    width: 100%;
    min-width: 150px;
    height: 1rem;
    right: 0;
    bottom: 0;
    background: var(--clr-accent);
    transform: rotate(-4deg);
    z-index: -1;
}

.br--m {
    display: none;
}

@media (min-width: 769px) {
    .flex {
        flex-direction: row;
        
    }
    
    .br--s {
        display: none;
    }

    .br--m {
        display: inline;
    }
}
/* #endregion */

/* Buttons */
/* #region */
.btn {
    display: inline-block;
    margin: 0;
    padding: 0.35em 1.2em;
    font-weight: 700;
    font-size: clamp(1.5rem, 6vw, 2.25rem);
    text-transform: uppercase;
    background: rgb(var(--clr-white));
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 4px 0 rgba(190, 190, 190, .50);
    opacity: 0.6;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
}
/* #endregion */

/* Pills */
/* #region */
.pill {
    position: relative;
    width: var(--width, 22.5rem);
    padding: 0.5em .5em 0.5em 2.5em;
    text-align: left;
    background: rgba(var(--clr-white), 0.7);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
}

.pill > p {
    max-width: 85%;
}

.pill:hover {
    background: rgba(var(--clr-white), 0.9);
}
/* #endregion */

/* Hero Section */
/* #region */
.hero {
    position: relative;
    padding-top: 3rem;
    background: var(--clr-accent);
}

.hero-header {
    text-align: center;
    color: rgb(var(--clr-white))
}

.hero-card-wrapper {
    margin-top: -50px;
    transform: translateY(70px);
}

.hero-card {
    position: relative;
    width: clamp(10rem, 70vw, 30rem);
    margin: 0 auto;
    padding: min(8vw, 3.625rem);
    background: rgba(var(--clr-white), 0.9);
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.hero-card .h2 {
    font-weight: 700;
    color: rgba(var(--clr-black), 0.75);
    line-height: 1;
}

.hero-card .price {
    font-weight: 700;
    font-size: clamp(4rem, 15vw, 6.25rem);
    color: rgb(var(--clr-black))
}

.hero-card::before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 140%;
    padding-bottom: 140%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    border-radius: 50%;
    background: radial-gradient(circle,#FF8787 0%,#FF8787 35%,#ffa8a8 35%,#ffa8a8 47%,#ffc9c9 47%,#ffc9c9 60%, #ffe3e3 60%,#ffe3e3 70%);
    animation: pulse 2s infinite;
}

.hero-card a {
    position: relative;
    z-index: 2;
    margin-top: 1rem;
}

.hero-card > a:hover ~ .pill {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.hero-card img {
    margin-top: -70px;
    transform: scale(1.55) translateY(30px);
}

.hero-card .pill {
    display: none;
}

@media (min-width: 769px) {
    .hero-card .pill {
        --width: 330px;
    
        display: block;
        position: absolute;
        bottom: 100px;
        left: -10vw;
        z-index: 1;
    }
}
/* #endregion */

/* Main Section */
/* #region */
.main {
    margin: 0 auto;
    padding-top: 17em;
    text-align: center;
}

.benefits {
    flex-wrap: wrap;
    align-items: center;   
}

.benefit {
    max-width: 270px;
}

.benefit {
    margin-top: 3rem;
}

@media (min-width: 769px) {
    .benefits {
        align-items: baseline;
        justify-content: space-around;
    }
}

.separator.underline {
    width: 50%;
    max-width: 480px;
    height: 20px;
    margin: 12rem auto 8rem auto;
}

.features {
    --maxw: 900px;

    position: relative;
    margin: 0 auto;
}

.features-pills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-pills > .pill {
    --width: 90%;
    max-width: 22.5rem;
    margin-top: 5rem;
}

.features-pills > .pill > p {
    margin-top: .5rem;
}

.features-pills > .pill::before {
    position: absolute;
    content: "\003E";
    top: -1.5rem;
    left: -.5rem;
    font-size: 3rem;
    font-weight: 800;
    color: var(--clr-accent);
}

@media (min-width: 769px) {
    .features-pills {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        left: 0;
        top: 0;
        align-items: stretch;
    }
    
    .features-pills > .pill:nth-of-type(odd) {
        align-self: flex-end;
    }
    
    .features-pills > .pill::before {
        display: none;
    }
    
}
/* #endregion */

/* Teachers Section */
/* #region */

.teachers {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-bottom: 10rem;
    margin-bottom: 10rem;
}

.teachers-bg {
    position: absolute;
    width: 200%;
    height: 80%;
    top: calc(50px + 10vw);
    left: -50%;
    background: #F5F5F5;
    border: 1px solid rgb(var(--clr-black));
    transform: rotate(356deg);
    mix-blend-mode: multiply;
    z-index: -1;
}

.teachers-bg::before {
    position: absolute;
    content: "";
    width: 200%;
    height: 1px;
    background: rgb(var(--clr-black));
    top: 14rem;
}

.teachers-bg::after {
    position: absolute;
    content: "";
    width: 200%; 
    height: 1px;
    background: rgb(var(--clr-black));
    bottom: 14rem;
}


.teachers img {
    border: 1px solid rgb(var(--clr-black));
    border-radius: var(--border-radius);
}

.teachers .pill {
    border: 1px solid rgb(var(--clr-black));
}

.main-teachers {
    min-height: 600px;
    padding-top: calc(100px + 5vw);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.main-teacher {
    position: relative;
}

.main-teacher h2 {
    margin-bottom: 5rem;
}

.main-teacher > .pill {
    --width: 110%;
    max-width: 22.5rem;
    transform: translate(-1rem, -4rem);
}

.main-teacher::before {
    z-index: -2;
    position: absolute;
    content: "";
    border-radius: 50%;
    background: radial-gradient(circle,#FF8787 0%,#FF8787 35%,#ffa8a8 35%,#ffa8a8 47%,#ffc9c9 47%,#ffc9c9 60%, #ffe3e3 60%,#ffe3e3 70%);
}

.main-teacher:nth-of-type(1)::before {
    width: 85%; 
    padding-bottom: 85%;
    top: 25%;
    left: 10%;
    }

.main-teacher:not(:first-child)::before {
    width: 130%; 
    padding-bottom:130%;
    top: -15%;
    left: -15%;
    }

.secondary-teachers {
    --maxw: 1250px;

    margin-top: min(10vw, 10rem);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.secondary-teacher .pill {
    --width: 185px;
    text-align: center;
    transform: translate(-1rem, -2rem);
}

@media (min-width: 769px) {
    .main-teachers {
        --width: 90%;
        --maxw: 1800px;
        margin-top: 10vw;
    }

    .main-teacher:nth-of-type(odd) {
        align-self: flex-end;
    }

    .main-teacher:nth-of-type(3) {
        margin-left: 3rem;
    }

    .main-teacher h2::after {
        position: absolute;
        content: "";
        width: 90px;
        height: 90px;
        top: 0;
        right: 2rem;
        background: url("../img/star.svg") no-repeat center;
        background-color: #F5F5F5;
        border: 1px solid rgb(var(--clr-black));
        border-radius: 100px;
    }
}

@media (min-width: 1550px) {
    .main-teacher:nth-of-type(1) > .pill{
        transform: translate(-5rem, -5rem);
    }
    .main-teacher:nth-of-type(2) > .pill{
        transform: translate(18rem, -27rem);
    }
    .main-teacher:nth-of-type(3) > .pill{
        transform: translate(-9.5rem, -4rem);
    }
}
/* #endregion */

/* Animations */
/* #region */
@keyframes pulse {
    0% {
        transform: translate(-50%,-50%) scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        transform: translate(-50%,-50%) scale(1);
        box-shadow: 0 0 5px 20px rgba(204,169,44, 0);
    }
    100% {
        transform: translate(-50%,-50%) scale(0.95);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }

  @keyframes shake {
    10%, 90% {
        background: rgb(var(--clr-white));
        color: #E55754;
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
}
/* #endregion */